<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="A completely private way of using the power of LLMs on your personal documents. ">
    <meta name="keywords" content="ChatGPT, OpenAI, GPT, API, lightweight client">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Krivich (https://github.com/Krivich)">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>French Cooking Assistant</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon_FCA.png') }}" type="image/png"> <!-- Lien vers le favicon au format PNG -->
</head>
<body>
<div class="left">
    <div class="chat-presentation-div">
        <img class="logo-img" src="{{ url_for('static', filename='images/icon_FCA.png') }}">
        <p>French Cooking Assistant</p>
    </div>
    <button class="new-chat-button button clickable" onclick="newChat()">+ New chat</button>
    <ul id="chat-list" class="scroll-container"></ul>
    <!--<div class="token-panel">-->
        <!--<label for="token" class="token-label">
            API token (<a href="https://platform.openai.com/account/api-keys" target="_blank">request</a>):
        </label>-->
        <!--Input file of any type including .txt, .csv, .pdf-->
    <!--<form action="uploadFile()" method="post" enctype="multipart/form-data">-->
        <!-- <form action="/upload" method="post" enctype="multipart/form-data"> -->
    <!--<form onsubmit="uploadFile()" method="post" enctype="multipart/form-data">-->
        <!-- <input type="file" name="file" id="file" accept="text/*, .pdf">
        <button type="submit">Upload</button> -->
    </form>
    <span style="display: flex; flex: 1;"></span>
    <p class="credit-p">Based on OpenAI API</p>
    <!--</div>-->
</div>
<div class="right">
    <div id="welcome-panel">
        <img style="width: 128px; height: 128px; align-self: center;" src="{{ url_for('static', filename='images/icon_FCA.png') }}">
        <h1>French Cooking Assistant</h1>
        <p>
            PrivateGPT++ French Chef is a private AI assistant offering authentic French recipes based on your ingredients and preferences. 
        </p>
        <h2 style="align-self: flex-start;">Key Features:</h2>
        <ul>
            <li>
                <span>Recipe Recommencation</span> : Generates recipes based on the user's available ingredient
            </li>
            <li>
                <span>Personalized Suggestions</span> : Adapts recipes based on dietary preferences (vegetarian, low-calorie, etc)
            </li>
            <li>
                <span>Regional Inspiration</span> : Offers recipes from various French regions for diverse culinary experiences
            </li>
        </ul>
    </div>
    <div id="dialogue" class="scroll-container"></div>
    <div class="prompt">
        <input id="input" placeholder="How can I help you ?"></input>
        <button onclick="sendRequest()" class="button clickable icon" id="send-request-button">➤</button>
    </div>

</div>
<script>

    const dialogue = document.getElementById("dialogue");
    const apiTokenInput = document.getElementById("token");
    const promptField = document.getElementById("input");
    const button = document.getElementById("send-request-button");

    const chatList = document.getElementById("chat-list");

    //const selectedModel = document.getElementById("model");
    let selectedModel = "LlamaCpp";
    let temperature = 1;
    let maxTokens = 200;
    let contextStrategy = 10;

    // prompt to OpenAI API interaction logic

    let history = [];

    button.disabled = false;

    async function sendRequest() {
        //const apiToken = apiTokenInput.value.trim();
        //if (!apiToken) {
        //    alert("Please select a document first");
        //    return;
        //}
        const prompt = promptField.value.trim();
        if (!prompt) {
            alert("Enter text");
            return;
        }

        if (button.disabled) {
            alert("Request in progress");
            return;
        }

        const lastMessages = generateContext();

        button.disabled = true;
        const response = await fetch("/predict", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                //Authorization: `Bearer ${apiToken}`,
            },
            body: JSON.stringify({
                prompt: prompt,
            }),
        });

        if (response.ok) {
            const json = await response.json();
            //const message = json.choices[0].message.content;
            // Receive the dict sent from app.py in the form {'answer': answer, 'sources': sources}
            //const upload_message =json.message;
            const message = json.answer;
            //const sources = json.sources;
            // Display the answer and the sources

            history.push({role: "user", content: prompt}, {role: "assistant", content: message},);

            renderHistory();
            promptField.value = "";

            saveHistory(history);

            button.disabled = false;

        } else {

            button.disabled = false;
            alert(`Error: ${response.status} ${response.statusText}`);
        }
    }


    function renderHistory() {
        dialogue.innerHTML = history
            .map(({role, content}) => {
                let messageContent = "";
                let isCodeBlock = false;

                // Split content into sections based on code blocks
                const contentSections = content.split(/```/);

                // Loop through each section and render accordingly
                for (let i = 0; i < contentSections.length; i++) {
                    const section = contentSections[i];

                    // If the section is a code block, wrap it in a <pre> tag and mark as a code block
                    if (isCodeBlock) {
                        messageContent += `<pre class="code">${highlightSyntax(section)}</pre>`;
                        isCodeBlock = false;
                    } else {
                        messageContent += section;
                        isCodeBlock = true;
                    }
                }

                // Render the message HTML with a checkbox for each message
                if (role == "user") {
                    return `
                                <div class="message-user">
                                    <span class="message-content">${messageContent}</span>
                                </div>
                            `
                } else {
                    return `
                                <div class="message-assistant">
                                    <img class="logo-img" src="{{ url_for('static', filename='images/icon_FCA.png') }}">
                                    <span class="message-content">${messageContent}</span>
                                </div>
                            `
                }
            })
            .join("");

        setCheckboxes();
        welcomePanel();
    }

    function highlightSyntax(text) {
        // Regular expressions for syntax highlighting
        const bracketsRegex = /[\[\]\{\}\(\)]/g;
        const quotesRegex = /("|')(?:(?=(\\?))\2.)*?\1/g;
        const operatorsRegex = /[+\-*/%=<>!&|^~?:;]/g;
        const symbolsRegex = /[\.,@#$]/g;

        return text.replace(
            RegExp(
                [
                    bracketsRegex.source,
                    quotesRegex.source,
                    operatorsRegex.source,
                    symbolsRegex.source,
                ].join("|"),
                "g"
            ),
            (match) => {
                if (bracketsRegex.test(match)) {
                    bracketsRegex.lastIndex = 0;
                    return '<span class="syntax-bracket">' + match + "</span>";
                } else if (quotesRegex.test(match)) {
                    quotesRegex.lastIndex = 0;
                    return '<span class="syntax-quote">' + match + "</span>";
                } else if (operatorsRegex.test(match)) {
                    operatorsRegex.lastIndex = 0;
                    return '<span class="syntax-operator">' + match + "</span>";
                } else if (symbolsRegex.test(match)) {
                    symbolsRegex.lastIndex = 0;
                    return '<span class="syntax-symbol">' + match + "</span>";
                } else {
                    return match;
                }
            }
        );
    }


    // Custom context by checkbox logic

    function setCheckboxes() {
        const checkboxList = document.querySelectorAll('.message-checkbox');
        const start = Math.max(history.length - contextStrategy, 0); // начальный индекс для перебора
        checkboxList.forEach((checkbox, index) => {
            checkbox.checked = index >= start;
        });
    }

    function generateContext() {
        const contextMessages = [];
        const checkboxList = document.querySelectorAll('.message-checkbox');
        checkboxList.forEach((checkbox, index) => {
            if (checkbox.checked) {
                contextMessages.push(history[index]);
            }
        });
        return contextMessages;
    }

    // Previous chat history save/load/delete/render/new logic

    const HISTORY_KEY = "chat-history";

    async function newChat() {
        await fetch("/newchat", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                //Authorization: `Bearer ${apiToken}`,
            },
        });
        history = [];
        renderHistory();
    }

    function loadChatList() {
        chatList.innerHTML = "";
        const savedHistory = JSON.parse(localStorage.getItem(HISTORY_KEY)) || [];

        savedHistory.forEach((item, index) => {
            const {name} = item;
            const listItem = document.createElement("li");
            listItem.classList.add("chat-list-item");
            listItem.textContent = name;
            const deleteButton = document.createElement("button");
            deleteButton.classList.add("chat-list-item-delete");
            deleteButton.classList.add("clickable");
            deleteButton.textContent = "🗑️";
            deleteButton.addEventListener("click", () => deleteHistory(index));
            listItem.appendChild(deleteButton);
            listItem.addEventListener("click", () => {
                history = item.history;
                renderHistory();
            });
            chatList.appendChild(listItem);
        });
    }

    function deleteHistory(index) {
        const savedHistory = JSON.parse(localStorage.getItem(HISTORY_KEY)) || [];
        savedHistory.splice(index, 1);
        localStorage.setItem(HISTORY_KEY, JSON.stringify(savedHistory));
        loadChatList();
    }

    function saveHistory(history) {
        const name = history[0].content.substring(0, 20);
        const savedHistory = JSON.parse(localStorage.getItem(HISTORY_KEY)) || [];
        const index = savedHistory.findIndex((item) => item.name === name);
        if (index === -1) {
            savedHistory.push({name, history});
        } else {
            savedHistory[index] = {name, history};
        }
        localStorage.setItem(HISTORY_KEY, JSON.stringify(savedHistory));
        loadChatList();
    }


    // welcome panel logic
    function welcomePanel() {
        if (!history || history.length === 0) {
            document.getElementById("welcome-panel").classList.remove('hidden');
        } else {
            document.getElementById("welcome-panel").classList.add('hidden');
        }
    }

    window.addEventListener("DOMContentLoaded", () => {
        loadChatList();
    });

</script>
</body>
</html>